.message__box__container {
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  box-shadow: var(--shadow);
  box-sizing: border-box;
}
.message__box__header {
  width: 100%;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.message__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}
.message__img::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;

  background: rgb(1, 255, 73);
  bottom: 4px;
  right: 4px;
  border-radius: 50%;
}
.message__img img {
  width: 100%;
  height: 100%;
}
.author__info h4 {
  font-family: var(--primary-font);
  font-size: 22px;
  font-weight: 700;
  color: var(--text-color);
  padding-bottom: 8px;
}
.author__info p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  color: rgb(5, 151, 36);
}
