.sidebar__container {
  width: 100%;
  min-height: 100vh;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__profile__info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
}
.profile__image img {
  width: 100%;
  height: 100%;
}
.profile__image:hover .profile__overlay {
  opacity: 1;
}
.profile__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s linear;
}
.profile__overlay svg {
  width: 30px;
  height: 30px;
  fill: var(--bg-color);
}
.profile__name {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
  color: var(--white-color);
  text-transform: capitalize;
}
.sidebar__icon {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  position: relative;
  z-index: 1;
}
.sidebar__icon.active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
  width: 85%;
  height: 60px;
  background: var(--bg-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}
.sidebar__icon.active::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 60px;
  background: var(--primary-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}
.sidebar__icon svg {
  width: 30px;
  height: 30px;
  fill: var(--bg-color);
  cursor: pointer;
}
.sidebar__icon.active svg {
  fill: var(--primary-color);
}
.profile__logout {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.profile__logout__icon svg {
  width: 30px;
  height: 30px;
  fill: var(--white-color);
  cursor: pointer;
}
